<h1> Users </h1>

  
<h3><%= button_to 'create', new_user_path,method: 'get' %></h3>
<table>
<thead>
  <tr>
    <th>S.no</th>
    <th>User Name</th>
    <th>posts no</th>
    
    <th>Edit</th>
    <th>Delete</th>
    <th>Show</th>
  </tr>
</thead>    

    
    <% @users.each.with_index (1) do |user, i| %>
      <tr>
        <td><%= i%></td>
        <td><%= link_to user.name, user_path(user)  %></td>
        <td><%=  %></td>
        <td><%= button_to 'edit', edit_user_path(user),method: 'get'%></td>
        <td><%= button_to 'delete', user_path(user),method: :delete, data: {confirm: 'Are you sure?'} %></td>

        <td><%= button_to 'show', user_path(user),method: 'get'%></td>
      </tr>  
    <% end %>

</table>