


<h1 style="color:maroon;margin-left: 40px;text-decoration: underline;text-shadow: 3px 3px pink;">Create a Post</h1>

<%= form_for @post do |form| %>
  <%= form.text_field :content, placeholder: "content" %>
  <%= form.text_field :tittle, placeholder: "tittle" %>
  <%= form.submit %>
<% end %>

<!-- <%= form_for @post do |form| %>
  <%= form.text_field :content, placeholder: 'content' %>
  <%= form.text_field :tittle, placeholder: 'tittle' %>
  <%= form.submit %>
<% end %> -->

